{% extends "templates/layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Listagem Usuários</h1>

            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users  %}
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td><a href="{{ path('user-detail', {'id' : user.id}) }}" class="btn btn-primary">Visualizar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}